.grid .condition-grid,
.grid .condition-grid td{
	border:0;
	line-height:17px;
}
.grid .condition-grid td{
	padding:1px 1px 1px 0 !important;
}
td.result-column,
td.type-column,
td.action-column{
	padding-top:5px;
}
.condition-value-wraper{
	width:140px;
	/*padding:0 2px;
	border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
	border-style:solid;
	border-width:1px;*/
	clear:both;
	overflow:hidden;
	zoom:1;
}
.condition-value-wraper input,
.condition-value-wraper select{
	float:left;
}
.condition-value-wraper input,
.condition-value-wraper select{
	padding:1px !important;
	width:136px !important;
	border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA !important;
	border-style:solid !important;
	border-width:1px !important;
}
.condition-value-wraper select{
	padding:0 !important;
	width:136px !important;
}
.condition-actions .delete span{
	padding-left:15px;
}
.type-field-wrapper{
	float:left;
}
.grid td.result-column input.input-text{
	width:99%;
	float:left;
	height:16px;
	padding:0;
}
.grid table td.feed-row-first{
	width:466px;
}
.grid table td.type-column{
	width:140px;
}
.grid table td.action-column{
	width:191px;
}
.type-attribute-field-wrapper{
	float:left;
	margin:3px 0 0;
	display:none;
}
.type-attribute-field-wrapper select,
.grid table td.type-column .type-field-wrapper select{
	width:140px !important;
}
.grid table td.action-column .button{
	width:94px;
}
.grid table td.action-column .delete{
	width:94px;
}
.value-field-wrapper{
	padding:0 2px;
	border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
	border-style:solid;
	border-width:1px;
	clear:both;
	overflow:hidden;
	zoom:1;
}
.value-field-wrapper input{
	width:99%;
	float:left;
	height:16px;
	border:0;
	padding:0;
}
.result-wrapper{
	padding:0 2px;
	border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
	border-style:solid;
	border-width:1px;
	clear:both;
	overflow:hidden;
	zoom:1;
}
.result-wrapper input{
	width:100%;
	border:0;
	padding:0;
}
#gfeed-loader {
    color: #D85909;
    font-size: 1.1em;
    font-weight: bold;
    opacity: 0.8;
    position: fixed;
    text-align: center;    
    top: 50%;
    left: 50%;
}
#gfeed-loader .loader {
    background: none repeat scroll 0 0 #FFF4E9;
    border: 2px solid #F1AF73;
    color: #D85909;
    padding: 15px 30px;
    font-weight: bold;    
    text-align: center;    
    width: 150px;
    z-index: 1000;
}
.gfp-input-wrapper {
	padding:0 2px;
	border-color:#AAAAAA #C8C8C8 #C8C8C8 #AAAAAA;
	border-style:solid;
	border-width:1px;
}
.gfp-input-wrapper .input-text{
	width:100%;
	border:0;
	padding:0;
}
.gfp-toggle-multi{
	text-decoration: none !important;
  font-size: 10px;
  height: 10px;
  line-height: 10px;
  width: 10px;  
  background:#F18200;
  overflow:hidden;
  text-align:center;
  display:inline;
  display:inline-block;
  color:#fff !important;
  vertical-align:middle;
  margin:0 0 0 5px;
  font-family:Arial,"Nimbus Sans L",Helvetica,sans-serif;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  zoom:1;
}

/* Fields Mapping tab
-------------------------------------------------- */
.fm-block{
  border: 1px solid #d6d6d6;
  margin: 0 0 10px;
}
.fm-block-title{
  padding: 12px 10px;
  position: relative;
}
.fm-block-title:after{
  content: '';
  clear: both;
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
}
.fm-block-title-left{
  margin-right: 175px;
}
.fm-block-title-right{
  float: right;
  padding: 8px 0 0;
}
.fm-block-title-right .action-default.close-row{
  display: none;
}
.fm-block-title-right button + button{
  margin-left: 5px;
}
.fm-block-title-right button:last-child{
  min-width: 30px;
}
.fm-block-title-text{
  font-size: 14px;
  font-weight: 600;
  color: #303030;
  margin-bottom: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;  
}
.fm-block-title-sub{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.fm-block-title-sub-item{
  display: inline-block;
  vertical-align: middle;
  color: #777;
  font-size: 12px;
}
.fm-block-title-sub-item strong{
  font-weight: 600;
}
.fm-block-title-sub-sep{
  display: inline-block;
  width: 1px;
  height: 15px;
  overflow: hidden;
  margin: 0 5px;
  vertical-align: middle;
  background: #bdb9b4;
}
.fm-block-content{
  display: none;
  margin: 0 12px;
  padding: 5px 0;
}
.fm-block.__opened .fm-block-title{
  border-bottom: 1px solid #d6d6d6;
}
.fm-block.__opened .fm-block-title-sub{
  display: none;
}
.fm-block.__opened .fm-block-title-text{
  padding-top: 9px;
  padding-bottom: 9px;
}
.fm-block.__opened .fm-block-content{
  display: block;
}
.fm-block.__opened .fm-block-title-right .action-default.edit-row{
  display: none;
}
.fm-block.__opened .fm-block-title-right .action-default.close-row{
  display: inline-block;
}
.fm-block fieldset.fm-block-content-line{
  padding: 0 0 5px;
  margin: 0 0 5px;
  border: 0;
  border-bottom: 1px solid #d6d6d6;
}
.fm-block fieldset.fm-block-content-line:last-child{
  padding-bottom: 0;
  border-bottom: 0;
  margin-bottom: 0;
}
.fm-block-content-line .select.multiselect option:last-child{
  border-bottom: 0;
}

/* Conditions and Values
-------------------------------------------------- */
.feed-dattr-table,
.feed-dattr-table table{
  border-spacing: 0;
  border-collapse: collapse;
}
.feed-dattr-table td{
  vertical-align: top;
  padding: 5px;
}
.feed-dattr-table td .select,
.feed-dattr-table td input.input-text{
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing   : border-box;
  box-sizing        : border-box;
  height: 22px;
}
.feed-dattr-table .col-condition .col-action,
.feed-dattr-table .col-value .col-action{
  width: 1%;
}
.feed-dattr-table > tbody > .option-row > td.col-condition,
.feed-dattr-table > tbody > .option-row > td.col-value{
  padding: 0;
}
.feed-dattr-table > tbody > .option-row > td.col-action{
  width: 1%;
  white-space: nowrap;
}
.feed-dattr-table .col-condition table td{
  width: 33.33%;
}
.feed-dattr-table table{
  border: 0;
}
.feed-dattr-table table td{
  border: 0;
}
.feed-dattr-table > tbody > .option-row > td{
  border: 1px solid #dadfe0;
}
.feed-dattr-table > tbody > .option-row > td.col-value td:not(.col-action){
  width: 48%;
}
.feed-dattr-table .col-condition .col-action .button.delete,
.feed-dattr-table .col-value .col-action .button.delete{
  padding-top: 2px;
}
.feed-dattr-table .col-condition .col-action .button.delete span,
.feed-dattr-table .col-value .col-action .button.delete span{
  display: block;
  width: 16px;
  height: 16px;
  text-align: left;
  overflow: hidden;
  text-indent: -999em;
  padding: 0;  
}
.feed-ph {
  visibility: hidden;
}